<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('homepage') }}">
        <img src="{{ url_for('static', filename='images/homepage/heart.png') }}" width="35" height="35"
             alt="logo">Cli<font color="#5bc0de">N</font>et</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('homepage') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('location') }}">Location</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Register
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{{ url_for('patient_registration') }}">Patient</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('doctor_registration') }}">Doctor</a>
                    <a class="dropdown-item" href="{{ url_for('receptionist_registration') }}">Receptionist</a>
                    <a class="dropdown-item" href="{{ url_for('technician_registration') }}">Technician</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
